.login-container {
  max-width: 360px;
}

.logo {
  color: #cfd8e4;
  font-size: 4rem;
  font-weight: 800;
  letter-spacing: -5px;
  margin-bottom: 0;
}

.login-text {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 10px;
  color: rgba($danger, 0.8);
}

label {
  font-size: 0.75rem;
}
